@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: "Roboto";
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* GUIDELINES  

section {
  border: 4px solid lime;  
}
header, footer, main {
  border: 4px solid red;
}
div {
  border: 4px solid orange;
}  
*/

/* HEADER */

header {
  background-color: #1f2937;
}

header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

header-content header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

header-content header-links a{
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin: 1vh;
}

/* MODULES */

hero-module {
  margin-top: 10vh;
  display: block;
  background-color: #1f2937;
  margin-bottom: 10vh;
}

hero-module text {
  display: block;
  font-family: "Roboto";
}

hero-module text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

hero-module text p {
  font-size: 18px;
  color: #e5e7eb;
}

hero-module button {
  margin-top: 2vh; 
  background-color: #3882f6;
  color: white;  
  display:inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #3882f6;
}

hero-module picture {
  margin: 10px;
  border:#f9faf8 1px solid;
  border-radius: 4px;
}

@media (min-width: 700px) {
  hero-module {
    display: flex;
    flex-direction: row;
  }
  hero-module :is(text,picture) {
    flex-basis: 50%;
  }
}

/* INFORMATION */

information {
  display:block;
}

information h2{
  margin: 4vh;        
  text-align:center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  flex-grow: 1;
}

information div img {
  flex-grow: 1;
  max-width: 200px;
  min-width: 75px;     
  border-radius: 10px;
  border: 4px solid #3882f6; 
}

div .images{
  justify-content: space-around;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div .item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  justify-content: center;
  max-width: 200px;
  margin: 5px;
}

span {
  display:block;
}

/* */
section {
    
}

.hero {
  background-color: #1f2937;
}

.quote {
  background-color: #e5e7eb
}  

header, footer, main {

}



div {
  padding: 5px;
  display:block;
  width: 98%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

/* sticky footer */
body {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

main {
  flex: 1;
}

picture {
  display: block;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

footer {
  background-color: #1f2937;
}

/* ANCHOR COLOR */

a:visited {
  color: #e5e7eb;
}